body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background: #f8f8f8;
  color: #222;
}

/* top title */
header {
  background: white;
  text-align: center;
  padding: 20px 20px;
}

header h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 42px;
  margin: 0;
  line-height: 1.2;
}

/* main content sections */
section {
  max-width: 1100px;
  margin: 0 auto;
  padding: 40px 20px;
}

/* headings */
h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 42px;
  margin: 0;
}

h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 28px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
}

/* body text */
p {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.7;
  width: 100%;
  max-width: 1100px;
  margin: 20px auto;
}

/* divider */
.divider {
  border: none;
  border-top: 1px solid #d9d9d9;

  width: 1400px;
  max-width: 90%;

  margin: 0 auto;
}

/* chart container */
.vega-embed {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: px auto;
}

/* center actual rendered chart */
.vega-embed canvas,
.vega-embed svg {
  margin: 0 auto;
}
